

header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 1em 3em;
    margin: 1em 4em;
    border: 1px solid;
    border-color: var(--body-divider);
    background-color: none;


}

header nav {
    display: flex;
    justify-content: center;
    padding: 15px 0;
    flex-direction: row;
    align-items: center;
    
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
  }

header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;
    font-size: 1.3em;
    color: var(--body-text-color);
}


.NavButtons:hover {
    color: var(--body-divider);

}



@media (max-width: 768px) {
    .NavButtons {
        display: none;
    }

    .logo {
        display: none;
      }
}