#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(to bottom right,
    #0D1B2A 0%,
    #1B263B 25%, 
    #415A77 50%, 
    #778DA9 75%,
    #A6B8D0 100%);
    background-size: 200%, 200%;
    animation: animateBackground 4s linear infinite alternate;

}

@keyframes animateBackground {
    from {
        background-position: 0% 0%;
    }

    to {
        background-position: 100% 100%;
        /* Termina en la esquina inferior derecha */
    }
}


#hero button {
    font-size: 1.5em;
}

#hero h1 {
    font-size: 5rem;
    opacity: 0; /* Inicialmente, oculta el h1 */
    transform: translateY(20px); /* Empuja el h1 hacia abajo */
    transition: opacity 4s, transform 4s; /* Agrega una transición suave */
  }

@media (max-width: 768px) {
    #hero h1 {
      font-size: 1.9rem; /* Reducir tamaño de fuente para pantallas pequeñas */
    }
  }
  

  @keyframes typing {
    from {
      width: 0;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }

.AnimationWritte {
    display: inline-block;
    white-space: nowrap;
    border-right: 4px solid;
    width: 8ch;
    overflow: hidden;
    animation: typing 4s steps(8), blink 0.5s infinite step-end alternate;
  }
  

  
  @media (max-width: 768px) {
    .AnimationWritte {
   font-size: 1.8em;
    }
  }




/*Barras animadas*/




.skill__tech {
    display: flex;
    align-items: center;
}

.skills__item {
  display: flex;
  align-items: center;
  
}

.skills__bars,
.skills__bars::after {
    position: relative;
    width: 175px;
    height: 8px;
    background-color: #c1c8cf;
    border-radius: 30px;
    overflow: hidden;
}

.skills__bars::after{
    content: '';
    position: absolute;
    left: -175px;
    background-color: #32FFB5;
    transition: var(--transition);
    animation: skills-bars-fields 2s ease-in-out forwards;
}

.skills__bars-10::after{
  --skills-bar-length: 10%;

}

.skills__bars-20::after{
  --skills-bar-length: 20%;

}


.skills__bars-30::after{
  --skills-bar-length: 30%;

}

.skills__bars-40::after{
  --skills-bar-length: 40%;

}

.skills__bars-50::after{
  --skills-bar-length: 50%;

}

.skills__bars-60::after{
  --skills-bar-length: 60%;

}

.skills__bars-70::after{
    --skills-bar-length: 70%;

}

.skills__bars-80::after{
  --skills-bar-length: 80%;

}

.skills__bars-90::after{
  --skills-bar-length: 90%;

}


.skills__bars-100::after{
  --skills-bar-length: 100%;

}

@keyframes skills-bars-fields {
    to{
        transform: translateX(var(--skills-bar-length));
    }
    
}