/* Media query para resoluciones mínimas de 850px */
:root {
    --main-background-color: #0d1b2a;
    --text-color: #E0E1DD;
    --button-background-color: #0d1b2a;
    --button-hover-color: #00af6f;
    --transition: color 0.1s, background-color 0.2s ease-in-out;
    --skills-bar-length: 0%;
}

@media (min-width: 850px) {

    /* Encabezado */
    header {
        width: 100%;
        z-index: 1;
    }

    header .container {
        display: flex;
        justify-content: space-between;
    }

    header nav {
        display: flex;
        justify-content: center;
        padding: 15px 0;
        flex-direction: row;
        align-items: center;
    }

    /* Estilos para "works" y "about" */
    #works,
    #about {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    #works .programas,
    #about .programas,
    #skills .programas {
        display: flex;
        justify-content: center;
    }

    #works p,
    #about p {
        display: block;
        margin-bottom: 30px;
    }

    #skills p {
        display: block;
        margin: 30px;
    }

    #works h2,
    #about h2,
    #skills h2 {
        font-size: 4em;
    }

    #works h3,
    #about h3,
    #skills h3 {
        margin-top: 0;
    }

    #works .cards,
    #about .cards {
        padding: 50px;
        margin: 50px 0;
        border-radius: 30px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: #0d1b2a;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
        border: 2px solid white;
        max-width: 100%;
    }

    #skills .cards-skills {
        padding: 10px;
        margin: 0 10px; /* Reducir el margen */
        border-radius: 20px; /* Reducir el radio de borde */
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: #0d1b2a;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
        border: 2px solid white;
        max-width: 350px; /* Reducir el ancho máximo */
      }
      
      .card__title {
        margin-top: 10px;
        display: flex;
       justify-content: center;
      }


    .container-contact {
        display: flex;
        justify-content: space-between;
        /* Distribuir los elementos de manera uniforme en la fila */
        align-items: center;
        /* Centrar verticalmente los elementos */
        margin: 150px 12px;
        /* Establecer los márgenes superiores e inferiores */
    }

    /* Estilo para los elementos <h3> dentro de .container-contact */
    .container-contact h3 {
        margin: 2em;
        /* Elimina los márgenes predeterminados de los elementos <h3> */
        font-size: 2em;
        /* Ajusta el tamaño de fuente según sea necesario */
    }

    footer {
        margin: 30px;
    }

    .footer-container {
        display: flex;
        justify-content: space-between;
        /* Espaciar los elementos horizontalmente */
        align-items: center;
        /* Centrar los elementos verticalmente */
        background-color: #0d1b2a;
        /* Color de fondo del footer */
        padding: 10px;
        /* Espaciado interno del footer */
        margin: 20px;
        border-radius: 20px;
        /* Bordes redondeados del footer */
        color: #E0E1DD;
        /* Color del texto en el footer */
        max-width: 1400px;
        /* Ancho máximo del contenido del footer */
        margin: 0 auto;
        /* Centrar el contenido horizontalmente */
    }

    /* Estilo para el logotipo o texto del footer */
    .footer-container .logo {
        margin: 0;
        padding: 15px;
        /* Espaciado interno del logotipo o texto */
        font-weight: bold;
        font-size: 1.5em;
    }

    /* Estilo para la navegación o enlaces del footer */
    .footer-container nav {
        display: flex;
        justify-content: center;
        /* Centrar horizontalmente los enlaces */
        align-items: center;
        /* Centrar verticalmente los enlaces */
    }

    /* Estilo para los enlaces del footer */
    .footer-container a {
        padding: 5px 12px;
        text-decoration: none;
        font-weight: bold;
        color: #E0E1DD;
        margin: 0 10px;
        /* Espaciado horizontal entre enlaces */
        font-size: 1.3em;
    }

    /* Estilo para los enlaces de navegación al hacer hover */
    .footer-container a:hover {
        color: #32FFB5;
        /* Cambio de color al pasar el mouse */
    }

    /* Clase CSS para elementos <i> (iconos) */
    .icon {
        font-size: 5em;
        /* Tamaño de fuente para los iconos */
        color: #E0E1DD;
        /* Color de los iconos */
        margin: 0px 100px 0px 100px;
        /* Espacio derecho entre los iconos y el texto */
        transition: color 0.3s;
    }

    .icon:hover {
        color: #32FFB5;
        /* Cambia el color al hacer hover */
    }

}